.main{
width: 200px;
border-color: black;
border-width: 3px;
border-style: solid;
}
.display{
text-align: right;
border-color: black;
border-width: 1px;
border-style: solid;
background-color:white;
}
.button,.buttonZero,.symbol,.symbolP{
border-color: black;
border-width: 1px;
border-style: solid;
width: 50px;
text-align: center;
}
.largeButton{
border-color: black;
border-width: 1px;
border-style: solid;
width: 100px;
text-align: center;
}
.top,.middle1,.middle2,.under,.bottom{
display: flex;
justify-content: space-between;
}

